<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    < bean id="tyre1Bean" class="com.example.TypeOfDI.Tyre">
        <property name="name" value="WorldTreader">
        </ property>

        <property name="place" value="India">
        </ property>

        <property name="company" value="MRF">
        </ property>

    </ bean>

    < bean id="ToyotaBean" class="com.example.TypeOfDI.AudiEngine">
        <property name="company" value="Toyota">
        </ property>

        <property name="cost" value="300000.00">
        </ property>
        <property name="type" value="V8">
        </ property>

        <property name="chasis" value="12332131">
        </ property>


    </ bean>

    < bean id="tyre2Bean" class="com.example.TypeOfDI.Tyre">
        <property name="name" value="TVS">
        </ property>

        <property name="place" value="India">
        </ property>

        <property name="company" value="Ceat">
        </ property>

    </ bean>

    < bean id="InjectwithSetter" class="com.example.TypeOfDI.AudiR8">
        <property name="e" ref="ToyotaBean">
        </ property>

        <property name="t" ref="tyre1Bean">
        </ property>

    </ bean>

    < bean id="InjectwithConstructor" class="com.example.TypeOfDI.AudiR8">
        <constructor - arg name="engine" ref="ToyotaBean">
    </ constructor - arg>

    <constructor - arg name="tyre" ref="tyre2Bean">
</ constructor - arg>

        </ bean>
        </beans>
